@import url('https://fonts.googleapis.com/css?family=Lekton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One&display=swap');

:root {
  --main: #f1e1d8;
  --nude: #b38383;
}

* {
  box-sizing: border-box;
}

.html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #1e1e1e;
  font-family: 'Lekton', sans-serif;
}

.defaultcontainer {
  position: absolute;
  margin: 60px 0;
  width: 100%;
}

.hero {
  display: flex;
  justify-content: center;
}

.hero img {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
}

.logo-hero {
  position: absolute;
  z-index: 7;
}

.logo-hero img {
  padding-bottom: 50vh;
  width: 20em;
}

.desc  {
  position: absolute;
  z-index: 6;
  color: white;
  padding-top: 50vh;
  line-height: 1.5;
  font-size: 1em;
}

.desc p {
  width: 50vh;
  margin: 2em 0 0 55em;
}


/*.logo svg {
  z-index: 5;
  width: 20vh;
}*/


.how {
  display: flex;
  flex-direction: column;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.right {
  margin-left: auto;
} 

.loginreg {
  display: flex;
  justify-content: flex-end;
  height: 20px;
  padding: 30px;  
  width: 100vw;
  position: absolute;
  z-index: 9;
}

.loginreg ul {
  position: fixed;
  list-style: none;
  color: white;  
  line-height: 25px;
}

a {
  text-decoration: none;
  color: var(--main);
}

a:hover {
  color: white;
}

.user li{
   list-style: none;
   color: var(--main);
}

.userlogout {
  list-style: none;
  color:white;
}

footer .logo {
  width: 20vh;
  text-decoration: none;
}
footer .logo img {
  width: 100%;
}

footer li {
  text-decoration: none;
  list-style-type: none;
  display: inline;
}

footer ul {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: black;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  opacity: 0.9;
  z-index: 1;
  transition: bottom .5s ease-in-out;
}

footer li {
  font-size: .9rem;
  padding: 10px;
  cursor: pointer;
  font-size: 1em;
  transition: opacity .2s ease-in-out;
}
footer a:hover {
  opacity: 1;
}
footer a.active {
  opacity: 1;
}

.back_button {
  position: absoulute;
  z-index: 9;
  margin: 40px 50px 0 50px;
  color: #1e1e1e;  
} 

/* ##### ABOUT ##### */

.aboutcontainer {
  display: flex;
  justify-content: space-evenly;  
  margin: -80px 0;
}

.aboutcontainer img {
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  width: 176vh;
}

.aboutpost {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 80vh;
  margin: 30vh 0;
}

.aboutpost h2 {
  text-align:center;
  color: var(--main);
  text-transform:uppercase;  
  font-family: 'Racing Sans One', cursive;  
  font-size: 5em;
}

.aboutpost p {
  color: white;
}

.aboutinfos {
  display: flex;
  justify-items: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background-color: var(--nude);
}

.aboutlogo {
  display: flex;
  position: absolute;
  z-index: 7;
  margin: -5vh 0;
}

.aboutlogo img{
  width: 43vh;
}

.aboutproduction {
  width: 80vh;
  margin: 20vh 0;
}

.aboutproduction p {
  color: black;
}

.aboutsustain {
  width: 80vh;
}

.aboutsustain p {
  color: black;
}

/* ##### HELP ##### */

.help_button {
  position: absolute;
  position: fixed;
  z-index: 9;
  margin: 85vh 170vh 0;
  background-color: var(--nude);
  text-transform: uppercase;
}

.helpcontainer {
  display: flex;
  justify-content: flex-start;  
  margin: -80px 0;
  background-color: var(--main);
}

.helpcontainer h2 {
  text-align:center;
  color: var(--main);
  text-transform:uppercase;  
  font-size: 3em;
}

.helpcontainer img {
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  opacity: 0.6;
  width: 100%;
}

.helpinfos {
  display: flex;
  justify-items: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.shipping {
  width: 90vh;
  margin: 20vh 0;
}

.shipping p {
  color: white;
  font-size: 1.5em;
}

/* ##### FORMS ##### */

.formcontainer  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  grid-column-start: 6;
  text-align: center;
  border-radius: 20px;
  opacity: 4;
}

.formlogreg {
  margin: 50vh 0 0 0;
}

.formcontainer h5 {
  font-size: 30px;
}

.formcontainer .row {
  line-height: 3;
}

.form-label-group {
  color: black;
}


.regformcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 580px;
  margin: 120px 0;
  grid-column-start: 6;
  text-align: center;
  border-radius: 20px;
  opacity: 4;
}

.successregformcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30ww0px;
  margin: 120px 0;
  grid-column-start: 6;
  text-align: center;
  border-radius: 20px;
  opacity: 4;
  /*background-color: #fff;*/
}

.regformcontainer h5 {
  font-size: 30px;
}

.regformcontainer .row {
  line-height: 3;
}

.form-label-group input {
  width: 200px;
  line-height: 1;
  color: black;
  border: 0.5px solid #fff;
  border-bottom: 1px solid black;
}

/*.form-label-group input[type=text] {
  height: 100px;
}*/

.regformcontainer label {
  color: #fff;
}

button {
  cursor: pointer;
  width: 300px;
  outline: none;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
}

.logreg p{
  font-size: 12px;
  text-align: center;
}

.trouserscontainer {
  display: flex;
  justify-content: center;
}

.trouserscontainer {
  position: relative;
  top: 70px;
  left: 0;
}


.trousers {
  width: 15em;
}

.trouser-1 .trouser-2 .trouser-3 {
  z-index: 8;
}


.title  {
  position: absolute;
  z-index: 6;
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
  font-weight: 700;
  color: var(--main);
}

/* ##### TROUSERS CUSTOMIZATION ##### */

.trouserscontainer2 {
  display: flex;
  justify-content: space-around;
}

.custom_nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  margin: 20px 0;
}


.custom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /*padding-top: 50px;*/
  padding-left: 30px;
  padding-bottom: 150px;
  padding-right: 30px;
  width: 400px;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  border-left: 1px solid #777777;
  height: 600px;
  line-height: 1.5; 

}

.colors-1 > li{
  list-style: none;
  width: 30px;
  height: 30px;
	border-radius: 50%;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	transition-duration: .2s;
}

.colors-2 > li{
  list-style: none;
  width: 30px;
  height: 30px;
	border-radius: 50%;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	transition-duration: .2s;
}

.colors-3 > li{
  list-style: none;
  width: 30px;
  height: 30px;
	border-radius: 50%;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	transition-duration: .2s;
}

.colors-1 > li:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.colors-2 > li:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.colors-3 > li:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.homecontainer {
  position: relative;
  height: 100vh;
  background-color: rgba(221, 221, 221, 0.2);
}

.homecontainer h2 {
  padding: 100px;
}

.home-inner {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 23%;
  margin: 200px 40px 0 100px;
  /*left: 25%;
  top: 50%;*/
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 1.3;
  padding: 25px;
  /*border: 10px solid white;*/
}

.home-inner h2 {
  font-size: 36px;
  font-weight: bold;
}
.home-inner p {
  font-size: 24px;
  letter-spacing: 5px;
  margin: 20px 0;
}
.home-inner a {
  display: inline-block;
  padding: 10px 20px;
  color: var(--main);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  line-height: 40px;
}
/*
.s-2 img {
  position: absolute;
  right: 25%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}*/

.box {
  position: absolute;
}

.box {
  display: flex;
  justify-content: center;
  width: 512px;
  height: 500px;
  border: 2px solid white;
  right: 22%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.box img {
  width: 15em;
}

.home-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
}
.home-3 h3 {
  font-size: 20vh;
  font-weight: bold;
}

.recept img {
  width: 10em;
}

.receipt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  margin: 15vh 0 0 70vh;
}

.summary {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  margin: 15vh 0 0 70vh;
}

.orderlogin li{
  list-style: none;
}

/* ##### BLOG ##### */

.blogcontainer {
  display: flex;
  justify-content: flex-start;  
  margin: -80px 0;
  background-color: var(--main);
}

.blogcontainer img {
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  width: 100%;
}

.blogpost {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 30vh 0;
}

.blogpost p {
  color: white;
  width: 40vh;
}

.designername {
  position: absolute;
  font-family: 'Racing Sans One', cursive;  
  color: #b38383;
  font-size: 3em;
  width: 40px;
}

.blogheroimage img{
  opacity: 0.8;
}

.blogpost img {
  width: 50vh;
  height: 100%;
}

.bigtext {
  position: absolute;
  font-size: 2em;
  color: var(--main);
  text-transform: uppercase;
  width: 80vh;
  margin: 0 50vh 0;
}

.blogimagessmall {
  display: flex;
  background-color: var(--main);
  width: 100%;
}

.blogimagethree img {
  width: 25em;
  border: 3px solid #b38383;
}

.blogimagethree {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 30vh 0;

}

.blogimagefour img {
  width: 30em;
  border: 3px solid #b38383;
}

.blogimagefour {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 30vh 0;
}

.bigtextcontainer {
position: absolute;
}

.uploadcontainer {
  display: flex;
  flex-direction: row;
  margin: 30vh 0;
}

.highlight {
  background-color:#000000d9;
  padding: 0 10px 0;
}

.highlightnude {
  background-color:#b38383;
  padding: 0 10px 0;
}

.highlightbigtext {
  background-color:#b38383;
  padding: 0 10px 0;
}

/* ##### MEDIA QUERIES ##### */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

.loginreg {
  display: flex;
  justify-content: flex-end;
  height: 20px;
  margin: 100px;
  font-size: 3em;
  position: fixed;
}

.loginreg ul {
  border: solid 1px white;
  padding: 10px;
}

.loginreg li {
  line-height: 60px;
}

.formcontainer  {
  display: flex;
  justify-content: center;
  height: 50vh;
  margin: 150px 0;
  border-radius: 20px;
  opacity: 4;
  font-size: 2.5em;
}

.formcontainer h5 {
  font-size: 2em;
}

button {
  font-size: 40px;
}

textarea {
  width: 20vh;
  height: 10vh;
  border: 1px solid #777777;
}

textarea::placeholder {
  font-size: 30px;
}

/* ##### TROUSERS CUSTOMIZATION ##### */

.trouserscontainer2 {
  display: flex;
  justify-content: space-around;
}

.custom_nav {
  display: flex;
  position: fixed;
  margin: 10vh 0 0 25vh;
}

.custom {
  display: flex;
  align-items: flex-end;
  width: 100%;  
  top: 0;
  left: 0;
  bottom: 0;
  overflow-x: scroll;
  border-left: 1px solid #777777;
  height: 60vh;
  line-height: 1.5; 
}


.pick-color h2 {
  color: black;
}

.custom h2 {
  width: 100%;
  font-weight: 700;
}



.colors-1 > li{
  list-style: none;
  width: 60px;
  height: 60px;
	border-radius: 50%;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	transition-duration: .2s;
}

.colors-2 > li{
  list-style: none;
  width: 60px;
  height: 60px;
	border-radius: 50%;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	transition-duration: .2s;
}

.colors-3 > li{
  list-style: none;
  width: 60px;
  height: 60px;
	border-radius: 50%;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	transition-duration: .2s;
}

.colors-1 > li:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.colors-2 > li:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.colors-3 > li:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.trouserscontainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 30px -100px;
  top: 60px;
  left: 0;
}

.choosetrouserfont {
  font-size: 3em;
  padding: 90px;
}

.trousers svg {
  width: 25em;
}


footer {
  margin: 0 20px 0 11px;
  width: 55vh;
  height: 10em;
}

footer ul {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  padding: 40px;
}

footer li {
  padding: 10px;
  cursor: pointer;
  font-size: 1.8em;
  transition: opacity .2s ease-in-out;
}

footer .logo img {
  width: 15vh;
  margin: 0 20px 0 40px;
}
  
}
