@import url('https://fonts.googleapis.com/css?family=Lekton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One&display=swap');
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);


:root {
  --main: #f1e1d8;
  --nude: #b38383;
  --black: #231f20;
  --main-font: 'Lekton', sans-serif;
  --sec-font: 'Racing Sans One', cursive;  
}

* {
  box-sizing: border-box;
}

.html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #1e1e1e;
  font-family: 'Lekton', sans-serif;
}

.defaultcontainer {
  position: absolute;
  margin: 60px 0;
  width: 100%;
}


.label {
  white-space: nowrap;
}

.hero {
  display: flex;
  justify-content: center;
}

.hero img {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 176vh;
  opacity: 1;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
}
.hero2 img {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 176vh;
}

.logo-hero {
  position: absolute;
  z-index: 7;
}

.logo-hero img {
  padding-bottom: 50vh;
  width: 10em;
}

.logorepeat {
  display: flex;
  flex-direction: wrap;
}

/*.desc  {
  position: absolute;
  z-index: 6;
  color: white;
  padding-top: 50vh;
  line-height: 1.5;
  font-size: 1em;
}

.desc p {
  width: 50vh;
  margin: 2em 0 0 55em;
}*/

.desc {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: absolute;
  font-family: var(--sec-font);
  font-size: 2.5em;
  color: var(--main);
  text-transform: uppercase;
  margin: 20vh 0;
  width: 150vh;
}

.desc p {
  width: 50vh;
}

.desc1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  font-family: var(--sec-font);
  font-size: 1.5em;
  color: var(--main);
  text-transform: uppercase;
  margin: 20vh 0;
  width: 150vh;
  height: 50vh;
}

.this {
  display: flex;
  justify-content: center;
  position: absolute;
  font-family: var(--main-font);
  font-size: 2em;
  color: var(--main);
  text-transform: uppercase;
  margin: 80vh 0;
  width: 150vh;
}

.this2 {
  position: absolute;
  z-index: 4;
  display: flex;
  justify-content: center;
  position: absolute;
  font-family: var(--main-font);
  font-size: 2em;
  color: var(--main);
  text-transform: uppercase;
  margin: 100vh 0;
  width: 150vh;
}

/*.logo svg {
  z-index: 5;
  width: 20vh;
}*/



/* ##### defaults ##### */

.loginreg {
  display: flex;
  justify-content: flex-end;
  height: 20px;
  padding: 30px;  
  width: 100vw;
  position: absolute;
  z-index: 9;
}

.loginreg ul {
  position: fixed;
  list-style: none;
  color: white;  
  line-height: 25px;
}

a {
  text-decoration: none;
  color: var(--main);
}

a:hover {
  color: white;
}

.loginlogo {
  display: flex;
  flex-direction: column;
  background-color: var(--main);
  opacity: 0.5;
}

.user li{
   list-style: none;
   color: var(--main);
}

.terms {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.termstext p{
  color: var-(--black);
  width: 100vh;
}

.userlogout {
  list-style: none;
  color:white;
}

footer .logo {
  width: 20vh;
  text-decoration: none;
}
footer .logo img {
  width: 100%;
}

footer li {
  text-decoration: none;
  list-style-type: none;
  display: inline;
}

footer ul {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: var(--black);
}

footer a:active {
  color: var(--nude);
}

/*footer a:hover {
  background: var(--nude);
}*/

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: var(--main);
  opacity: 0.9;
  z-index: 9;
  transition: bottom .5s ease-in-out;
}

footer li {
  font-size: .9rem;
  padding: 10px;
  cursor: pointer;
  font-size: 1em;
  transition: opacity .2s ease-in-out;
}
footer a:hover {
  opacity: 1;
}
footer a.active {
  opacity: 1;
}

.back_button {
  position: absoulute;
  z-index: 9;
  margin: 40px 50px 0 50px;
  color: #1e1e1e;  
} 


/* ##### GENERATOR INSTRUCTIONS ##### */

.generator {
  display: flex;
  justify-items: center;
  flex-direction: column;
  text-align: center;
}

.instructions {
  margin: 0 55vh 0;
}

.instructions p {
  text-transform: uppercase;
}

/* ##### ABOUT ##### */

.aboutcontainer {
  display: flex;
  justify-content: space-evenly;  
  margin: -80px 0;
  height: 100vh;
}

.aboutcontainer img {
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  width: 176vh;
}

.aboutpost {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 80vh;
  margin: 30vh 0;
}

.aboutpost h2 {
  color: var(--main);
  text-transform:uppercase;  
  font-family: var(--sec-font);  
  font-size: 3em;
}

.aboutpost p {
  color: white;
}

.aboutinfos {
  display: flex;
  justify-items: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background-color: var(--main);
  margin-bottom: 100px;
}

.productionimgs img{
  width: 26vh;
  border: 3px solid #b38383;
}

.aboutlogo {
  display: flex;
  position: absolute;
  z-index: 3;
  margin: -5vh 0;
}

.aboutlogo img{
  width: 43vh;
}

.aboutproduction {
  width: 80vh;
  margin-top: 150px;
}

.aboutproduction p {
  color: var(--black);
}

.aboutsustain {
  width: 80vh;
}

.aboutsustain p {
  color: var(--black);
}

/* ##### HELP ##### */

.help_button {
  position: absolute;
  position: fixed;
  z-index: 9;
  margin: 85vh 170vh 0;
  background-color: var(--nude);
  text-transform: uppercase;
}

.helpcontainer {
  display: flex;
  justify-content: flex-start;  
  margin: -80px 0;
  background-color: var(--main);
}

.helpcontainer h2 {
  text-align:center;
  color: var(--main);
  text-transform:uppercase;  
  font-size: 3em;
}

.helpcontainer img {
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  opacity: 0.6;
  width: 100%;
}

.helpinfos {
  display: flex;
  justify-items: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  margin-bottom: 10vh;
  min-height: 100%;

}


/* ##### SHIPPING TABLE ##### */

.shipping {
  width: 90vh;
  margin: 20vh 0;
}

.shipping p {
  color: var(--black);
  font-size: 1em;
}

.shipping td {
  width: 800px;
}

.shippingtable table {
  width: 300vh;
}

.shippingtable table {
  width: 500px;
}

.shippingtable td:first-child {
  color:var(--nude);
}

.shippingtable  th {
  padding: 15px;
  text-align: left;
}

.shippingtable td {
  padding: 15px;
  text-align: left;
}

.shippingtable td:nth-child(1){
  border-bottom: 1px solid var(--main-txt-color);
}


.shippingtable tr:nth-child(even) {
  background-color: #fff;
}

/* ##### TABLE PROFILE/USERSLIST/ORDERS + ADMIN ##### */


.tablecontainer td {  
  width: 300px;
}

.tableorders table{
  display: flex;
  justify-content: center;
  border-collapse: collapse;

}

.tableorders th {
  color: var(--nude);
  width: 150vh;
}

.tableorders td:first-child {
  color:var(--main-color);

}

.tableorders th {
  padding: 15px;
  text-align: left;
}

.tableorders td {
  padding: 15px;
  text-align: left;

}

.tableorders td:nth-child(2){
  border-bottom: 1px solid var(--main-txt-color);
}


/* ##### FORMS ##### */

/*.formcontainer  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  grid-column-start: 6;
  text-align: center;
  border-radius: 20px;
  opacity: 4;
}*/

.formcontainer {
  display: flex;
  margin: -80px 0;
  grid-column-start: 6;
  text-align: center;
  border-radius: 20px;
  opacity: 4;
}

.formcontainer img {
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  width: 100%;
  opacity: 0.8;
}


/*.formlogreg form {
  position: absolute;
  width: 100%;
}*/


.formcontainer h2 {
  position: absolute;
  font-size: 30px;
}

.formcontainer .row {
  color: white;
  line-height: 3;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  width: 400px;
  height: 500px;
  margin: 25vh 65vh 0; 
  opacity: 0.8;
}

.formcontainerlogin {
  display: flex;
  justify-content: center;
  height: 50vh;
  margin: 150px 0;
  border-radius: 20px;
  opacity: 4;
}


.formcontainerlogin .row {
  color: var(--black);
  line-height: 3;
  position: absolute;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  align-content: center;
  width: 400px;
  height: 500px;
  text-align: center;
}

.form-label-group2 {
  color: var(--black);
}

.form-label-group2 input {
  width: 200px;
  line-height: 1;
  color: var(--black);
  border: 0.5px solid transparent;
  border-bottom: 1px solid var(--black);
  background-color: transparent;
  font-family: var(--main-font);
}

.form-label-group {
  color: white;
}

.form-label-group input {
  width: 200px;
  line-height: 1;
  color: var(--black);
  border: 0.5px solid transparent;
  border-bottom: 1px solid var(--black);
  background-color: transparent;
  font-family: var(--main-font);

}

.form-group select {
  background-color: transparent;
  border: 1px solid white;
}

/*.form-label-group input[type=text] {
  height: 100px;
}*/


.inputcustom {
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  background-color: #fff;
  height: 40px;
}

.customselect {
  font-family: var(--main-font);
  color: var(--black);
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  background-color: #fff;
  height: 40px;
}



.custompayment {
  font-family: var(--main-font);
  color: var(--black);
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 150px; 
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  background-color: #fff;
  height: 40px;
}


button {
  cursor: pointer;
  outline: none;
  color: white;
  background-color: transparent;
  border: none;
 /* border-radius: 20px;*/
}

.button {
  font-family: 'Racing Sans One', cursive;  
  font-size: 30px;
  color: var(--main);
  text-transform: uppercase;
}

.button:hover {
  background: var(--nude);
}

.logreg p{
  font-size: 12px;
  text-align: center;
}

/* ##### TROUSERSCONTAINER ##### */
.trouserscontainer {
  display: flex;
  justify-content: center;
}

.trouserscontainer {
  position: relative;
  top: 70px;
  left: 0;
}

.trousers {
  width: 13em;
}

.trouser {
  width: 18em;
  margin: 0 25vh 0;
}

.trouser-1 .trouser-2 .trouser-3 {
  z-index: 8;
}


.title  {
  position: absolute;
  z-index: 6;
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
  font-weight: 700;
  color: var(--main);
  text-transform: uppercase;
}

.title0 {
  font-family: var(--sec-font);
  color: var(--main); 
  font-size: 2em;
  text-transform: uppercase;
}

.title1 {
  font-family: var(--sec-font);
  color: var(--nude); 
  font-size: 1.5em;
  text-transform: uppercase;
}

.title2 {
  font-family: var(--sec-font);
  color: var(--nude); 
  font-size: 3em;
  text-transform: uppercase;
}

.title3 {
  font-family: var(--sec-font);
  color: var(--nude); 
  font-size: 8em;
  text-transform: uppercase;
}

.links a{
  color: var(--nude);
  text-decoration: underline;

}

.links a:hover {
  color: var(--main);
}


/* ##### PROFILE ##### */

.profilecontainer {
  grid-column-start: 6;
  font-family: var(--main-font);
  font-size: 15px;
  margin: 20vh;
  text-align: center;
}

.profilecontainer  {
  text-decoration: none;
  color: var(--main-color);
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
}

.tableprofile {
  display: flex;
  justify-content: center;
  line-height: 3;
  margin: 30px;
}

.tableprofile td {
  width: 300px;
}

.tableprofile tr {
  width: 500px;
}

.tableprofile  td:first-child {
  color: var(--nude);
  width: 200px;
}

.tableprofile  th {
  padding: 15px;
  text-align: left;
}

.tableprofile  td {
  padding: 15px;
  text-align: left;
}

.tableprofile  td:nth-child(1){
  border-bottom: 1px solid var(--main-txt-color);
}

.tableprofile  td:nth-child(2){
  width: 500px;
}


.profilecontainer tr:nth-child(even) {
  background-color: #fff;
}

/* ##### TROUSERS CUSTOMIZATION ##### */

.trouserbg {
  position: absolute;
}

.trouserbg img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  filter: grayscale(100%);
}

.trouserscontainer2 {
  display: flex;
  justify-content: space-around;
  margin: 10vh 0;
}

.custom_nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  margin: 20px 0;
}


.custom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /*padding-top: 50px;*/
  padding-left: 30px;
  padding-bottom: 150px;
  padding-right: 30px;
  width: 400px;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  border-left: 1px solid #777777;
  height: 600px;
  line-height: 1.5; 

}

.colors-1 > li{
  list-style: none;
  width: 30px;
  height: 30px;
	border-radius: 50%;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	transition-duration: .2s;
}

.colors-2 > li{
  list-style: none;
  width: 30px;
  height: 30px;
	border-radius: 50%;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	transition-duration: .2s;
}

.colors-3 > li{
  list-style: none;
  width: 30px;
  height: 30px;
	border-radius: 50%;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	transition-duration: .2s;
}

.colors-1 > li:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.colors-2 > li:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.colors-3 > li:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.homecontainer {
  position: relative;
  height: 100vh;
  background-color: rgba(221, 221, 221, 0.2);
}

.homecontainer h2 {
  padding: 100px;
}

.home-inner {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 23%;
  margin: 200px 40px 0 100px;
  /*left: 25%;
  top: 50%;*/
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 1.3;
  padding: 25px;
  /*border: 10px solid white;*/
}

.home-inner h2 {
  font-size: 36px;
  font-weight: bold;
}
.home-inner p {
  font-size: 24px;
  letter-spacing: 5px;
  margin: 20px 0;
}
.home-inner a {
  display: inline-block;
  padding: 10px 20px;
  color: var(--main);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  line-height: 40px;
}
/*
.s-2 img {
  position: absolute;
  right: 25%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}*/

.box {
  position: absolute;
}

.box {
  display: flex;
  justify-content: center;
  width: 512px;
  height: 500px;
  border: 2px solid white;
  right: 22%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.box img {
  width: 15em;
}

.home-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
}
.home-3 h3 {
  font-size: 20vh;
  font-weight: bold;
}

/* ##### RECEIPT #####*/

.receipt img {
  width: 20em;
}

.receipt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  margin: 15vh 0 0 70vh;
}

.receipt p {
  font-size: 20px;
}

.receiptsmall td {
  width: 250px;
  line-height: 2;
}

.receiptsmall, .summarytable th, td {
  border-bottom: 1px solid #ddd;
}

.summarytable td {
  width: 150px;
  line-height: 2;
}

/*.summaryimage{
  width: 200px;
}*/


.svgrenderorder {
  margin: 5vh;
  height: 600px;
}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 1px solid #f1e1d8;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 200px;
  height: 200px;
}

/*.summary {
  display: flex;
  //flex-direction: column;
  justify-content: center;
  height: 100vh;
}*/

.summary {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: end;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  margin: 40px 0;
}

.summarytable {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 600px;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  height: 600px;
  line-height: 1.5;
  padding: 80px 0;
}

.orderlogin li{
  list-style: none;
}

/* ##### BLOG ##### */

.bloghomecontainer {
  display: flex;
  justify-content: center;  
  margin: -80px 0;
  background-color: var(--main);
}

.bloghomecontainer a:hover {
  color: #fff;
}

.bloghomecontainer img {
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 176vh;
}

.bloghomepost {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 70vh;
  margin: 30vh 0;
}

.bloghomepost p {
  color: white;
  width: 40vh;
}

.blogcontainer {
  display: flex;
  justify-content: flex-start;  
  margin: -80px 0;
  background-color: var(--main);
}

.blogcontainer img {
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  width: 176vh;
}

.blogpost {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 30vh 0;
}

.blogpost p {
  color: white;
  width: 40vh;
}

.designername {
  position: absolute;
  font-family: 'Racing Sans One', cursive;  
  color: #b38383;
  font-size: 3em;
  width: 40px;
}

.blogheroimage img{
  opacity: 0.8;
}

.blogpost img {
  width: 50vh;
  height: 100%;
}

.bigtext {
  position: absolute;
  font-size: 2em;
  color: var(--main);
  text-transform: uppercase;
  width: 80vh;
  margin: 0 50vh 0;
}

.blogimagessmall {
  display: flex;
  background-color: var(--main);
  width: 100%;
}

.blogimagethree img {
  width: 25em;
  border: 3px solid #b38383;
}

.blogimagethree {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 30vh 0;

}

.blogimagefour img {
  width: 30em;
  border: 3px solid #b38383;
}

.blogimagefour {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 30vh 0;
}

.bigtextcontainer {
position: absolute;
}

.uploadcontainer {
  display: flex;
  flex-direction: row;
  margin: 30vh 0;
}

.highlight {
  background-color:#000000d9;
  padding: 0 10px 0;
}

.highlightnude {
  background-color:#b38383;
  padding: 0 10px 0;
}

.highlightbigtext {
  background-color:#b38383;
  padding: 0 10px 0;
}

/* ##### ADMIN DASHBOARD ##### */

.tableadmincontainer {
  grid-column-start: 6;
  font-family: var(--main-font);
  color: #51545f;
  font-size: 15px;
  min-width: 200px;
  padding: 100px;
  text-align: center;
  line-height: 3;
  display: flex;
  justify-content: center;
}

.tableadmincontainer .row {
  text-align: center;

}

.tableadmincontainer table{
  border-collapse: collapse;

}

.tableadmincontainer th {
  color: var(--nude);
}

.tableadmincontainer td:first-child {
  color:var(--main-color);

}

.tableadmincontainer th {
  padding: 15px;
  text-align: left;
}

.tableadmincontainer td {
  padding: 15px;
  text-align: left;

}

.tableadmincontainer td:nth-child(1){
  border-bottom: 1px solid var(--main-txt-color);
}

.fa-2x {
  font-size: 1em;
  }
  .fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  }
  
  
  .main-menu:hover,nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
  }
  
  .main-menu {
  background: #fff;
  text-transform: uppercase;
  /*border-right:1px solid #e5e5e5;*/
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width .05s linear;
  transition: width .05s linear;
  -webkit-transform:translateZ(0) scale(1,1);
  z-index: 1000;
  }
  
  .main-menu>ul {
  margin: 7px 0;
  }
  
  .main-menu li {
  position: relative;
  display: block;
  width: 250px;
  }
  
  .main-menu li>a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #b38383;
  font-family: 'Racing Sans One', cursive;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1,1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
    
  }
  
  .main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  }
  
  .main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: 'Racing Sans One', cursive;
  }
  
  .main-menu>ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
  }
  
  .no-touch .scrollable.hover {
  overflow-y: hidden;
  }
  
  .no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
  }
  
  a:hover,a:focus {
  text-decoration: none;
  }
  
  nav {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
  }
  
  nav ul,nav li {
  outline: 0;
  margin: 0;
  padding: 0;
  }
  
  .main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,
  .dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,
  .dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
  .dashboard-page nav.dashboard-menu ul li.active a {
  color:#fff;
  background-color:#b38383;
  }
  
  .area {
      display: flex;
      justify-content: center;
      margin-top: 10vh;
      background: #fff;
      width: 100%;
      height: 100%;
  }

  .blogadmincontainer {
    display: flex;
    justify-content: center;
    height: 20px;
    padding-top: 30px;  
    line-height: 1.5;
    min-height: 100vh;
  }

.blogadminform form{
    display: flex; 
    justify-content: center;
    width:  40vh;
}

.imageadminblog {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

  .blogpublish {
    display: flex;
    flex-direction: column;
  }

  #text {
    width: 500px;
    overflow: hidden;
    background-color:#FFF;
    color:#222;
    font-family: var(--main-font);
    font-weight:normal;
    font-size: 12px;
    resize:none;
    line-height: 40px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 45px;
    padding-bottom: 34px;
    background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
    background-repeat:repeat-y, repeat;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border-top: 1px solid #FFF;
    border-bottom:1 px solid #FFF;
  }


  .form-admin-group {
    color: var(--black);
  }


  .form-admin-group input {
    width: 200px;
    line-height: 1;
    color: var(--black);
    border: 0.5px solid transparent;
    border-bottom: 1px solid var(--black);
    background-color: transparent;
    font-family: var(--main-font);
  }

  .blogpublish {
    width: 200px;
  }

  .adminbutton {
    color: var(--main);
  }

  #adminrow {
    height: 300px;
     text-align: center;
    
  }


/* ##### MEDIA QUERIES ##### */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

html {
  width: 86vh;
}

.defaultcontainer {
  width: 86vh;
  height: 150vh;
}

.back_button {
  font-size: 2em;
}

.help_button {
  font-size: 3em;
  margin: 140vh 75vh 0;
}

.title  {
  position: absolute;
  z-index: 6;
  width: 86vh;
  margin: 20vh 0;
  text-align: center;
  font-weight: 700;
  color: var(--main);
  text-transform: uppercase;
  font-size: 4em;
}

.title0 {
  font-family: var(--sec-font);
  color: var(--main); 
  font-size: 2em;
  text-transform: uppercase;
}

.title1 {
  font-family: var(--sec-font);
  color: var(--nude); 
  font-size: 1.5em;
  text-transform: uppercase;
}

.title2 {
  font-family: var(--sec-font);
  color: var(--nude); 
  font-size: 3em;
  text-transform: uppercase;
}

.title3 {
  font-family: var(--sec-font);
  color: var(--nude); 
  font-size: 8em;
  text-transform: uppercase;
}

.loginreg {
  display: flex;
  justify-content: flex-start;
  height: 20px;
  margin: 100px;
  font-size: 3em;
  position: absolute;
}

.loginreg ul {
  padding: 10px;
}

.loginreg li {
  line-height: 60px;
}

.formcontainer  {
  display: flex;
  justify-content: center;
  height: 50vh;
  border-radius: 20px;
  opacity: 4;
  font-size: 2.5em;
}

.formcontainerlogin {
  margin: 30vh 0;
}

.formcontainerlogin .row {
  font-size: 3em;
  width: 600px;
  height: 500px;
  margin: 26vh 0;
}

.form-label-group2 input {
  width: 650px;
}

.formcontainer {
  position: absolute;
  display: flex;
  justify-content: center;  
  background-color: var(--main);
}

.formcontainer img {
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  width: 100%;
}

.formcontainer .row {
  color: white;
  line-height: 3;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  width: 400px;
  height: 500px;
  opacity: 0.8;
}

.button {
  font-size: 2em;
  text-align: center;
}

textarea {
  width: 20vh;
  height: 10vh;
  border: 1px solid #777777;
}

textarea::placeholder {
  font-size: 30px;
} 

/* ##### ABOUT ##### */

.aboutcontainer {
  font-size: 2em;
}

.aboutcontainer img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 86vh;
  height: 100vh;
}

.aboutlogo {
  margin: -2vh 0;
}

.aboutlogo img {
  width: 23.5em;
}

.aboutpost {
 width: 60vh;
}

.aboutinfos {
  font-size: 2em;
  height: 225vh;
}


/* ##### PROFILE / EDIT ##### */

.profilecontainer {
  margin: 30vh 0;
  font-size: 2em;
}

.tableprofile {
  margin: 100px;
}

.tableprofile tbody {
  width: 50vh;
  line-height: 1.5;
}

.tableprofile td:first-child {
  color: var(--nude);
  width: 300px;
}

.tableprofile td:nth-child(2) {
  width: 400px;
}

/* ##### TROUSERS CUSTOMIZATION ##### */

.trouserscontainer2 {
  display: flex;
  justify-content: space-around;
  width: 86vh;
  margin: 30vh 0;
}

.custom_nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  margin: 8vh 50vh;
}

.custom {
  position: absolute;
  z-index: 7;
  display: flex;
  align-items: flex-end;
  width: 100%;  
  top: 0;
  left: 0;
  bottom: 0;
  overflow-x: scroll;
  border-left: 1px solid #777777;
  height: 106vh;
  line-height: 1.5; 
}

.custom button {
  font-size: 4em;
}

.order-trouser {
  width: 30vh;
}

.trouser {
  width: 40em;
  margin: 20vh 50px;
}

.custom h2 {
  font-size: 3em;
}

.inputcustom, .customselect {
  width: 100%;
  height: 60px;
}

.customselect {
  font-size: 1.5em;
}

.colors-1 > li{
  list-style: none;
  width: 70px;
  height: 70px;
	border-radius: 50%;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	transition-duration: .2s;
}

.colors-2 > li{
  list-style: none;
  width: 70px;
  height: 70px;
	border-radius: 50%;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	transition-duration: .2s;
}

.colors-3 > li{
  list-style: none;
  width: 70px;
  height: 70px;
	border-radius: 50%;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	transition-duration: .2s;
}

.colors-1 > li:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.colors-2 > li:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.colors-3 > li:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.trouserscontainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 60px;
  left: 0;
}

.trousers {
  width: 30em;
}
.choosetrouserfont {
  font-size: 3em;
  padding: 90px;
}

.summary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;  
  margin-top: 30vh ;
}

.summarytable {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  width: 150vh;
  height: 200vh;
}

.summarytable table {
  width: 40vh;
}

.summaryimage img {
  width: 30em;
}

.custompayment {
  height: 90px;
  width: 100%;
  max-width: 150vh;
}

.receipt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86vh;
  height: 100vh;
  margin: 30vh 0;
}

.receiptsmall {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50vh;
  font-size: 2.5em;
  line-height: 3;
}

.receiptsmall p {
  font-size: 1.5em;
}

footer {
  margin: 0 20px 0 11px;
  width: 86vh;
  height: 10em;
}

footer ul {
  display: inline-flex;
  justify-content: space-around;
  width: 86vh;
  padding: 40px;
}

footer li {
  padding: 10px;
  cursor: pointer;
  font-size: 2.5em;
  transition: opacity .2s ease-in-out;
}

footer .logo img {
  width: 15vh;
  margin: 0 20px 0 40px;
}
  
}
